{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <div class="container full-width">
    {% if is_granted('ROLE_USER') %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% else %}
        <p>tasku</p>
    {% endif %}
    </div>




{% endblock %}